// Color Variables
$primary-color: #2d2d2d;
$secondary-color: #2bfdff;
$text-color: #2d2d2d;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font2: 'Roboto', sans-serif;
$primary-font: 'untitled', sans-serif;
$secondary-font: 'Playfair Display', serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';
