// Color Variables
// $primary-color: #41228e; #712f79
// $secondary-color: #2bfdff;
// $text-color: #2d2d2d;
// $text-color-dark: #000;
// $text-color-light: #999;
// $body-color: #fff;
// $border-color: #c7c7c7;
// $black: #000;
// $white: #fff;
// $gray: #eaeaea;

$primary-color: #72195A;
$secondary-color: #7F95D1;
$text-color: #2d2d2d;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font2: 'futura', sans-serif;
$primary-font: 'suisse', sans-serif;
$secondary-font: 'suisse', serif;
$tertiary-font: 'halyard';
$icon-font: 'themify';
